.Header {
  font-style: bold;
  text-align: center;  
  margin-left: auto;
  margin-right: auto;
  color: purple;
}

.Projects {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  margin-top: 10px;
  background-color: lightblue;
  border-width: 5px;
  padding: 20px;  
  border-radius: 8px;  
  font-size: 16px;
  max-width: 350px;
}
.About {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  margin-top: 10px;
  background-color: lightblue;
  border-width: 5px;
  padding: 20px;  
  border-radius: 8px;  
  font-size: 16px;
  max-width: 350px;
}
.Border {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: lightblue;
  border-width: 5px;
  padding: 20px;
  border-radius: 8px;  
  font-size: 16px;
  max-width: 700px;
}

.Button1 {
  background-color: #0a4e9c; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  border-radius: 8px;
  content: 'About Me';
}
.Button2 {
  background-color: #0a4e9c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  border-radius: 8px;
  content: 'Projects';
}
.Button3 {
  background-color: #0a4e9c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  border-radius: 8px;
  content: 'Contact';
}
.Button4 {
  background-color: #0a4e9c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  border-radius: 8px;
  content: 'Home';
}

.App-port {
  border: 4px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10em;
}

body {  
  background-image: url(./background.PNG);
  overflow: initial;
  background-color: bisque;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;
  height: 100vh;

}

p {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  font-size: 2em;
  font-style: bold;
  color: purple;
  border-radius: 5em;
  border-width: 1px;
}

li {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  font-size: 1em;
  font-style: bold;
  color: purple;
  border-radius: 5em;
  border-width: 1px;
}

h1 {
  text-align: center;
  font-size: 5em;
  font-style: bold;
  color: purple;
  border-radius: 5em;
  border-width: 1px;
}

h2 {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 2em;
  font-style: bold;
  color: purple;
  border-radius: 5em;
  border-width: 1px;
}

h3 {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  font-size: 2em;
  font-style: bold;
  color: purple;
  border-radius: 5em;
  border-width: 1px;
}

h4 {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  font-size: 2em;
  font-style: bold;
  color: purple;
  border-radius: 5em;
  border-width: 1px;
}

h5 {
  text-align: center;
  font-size: 5em;
  font-style: bold;
  color: purple;
  border-radius: 5em;
  border-width: 1px;
}
